fastapi
uvicorn[standard]
pydantic
sentence-transformers
pandas
pymupdf
langchain
langchain-core
langchain-community
opencv-python-headless
langchain-groq
langchain-google-genai
groq
pinecone
langchain-pinecone
accelerate
motor
pymongo
python-dotenv
requests
pillow
tqdm
pyyaml
pytesseract